*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: sans-serif;
}
table{
	th{
		text-align: left;
	}
	thead tr:first-child{
		background: #000;
		color: #fff;
	}
	tbody{
		tr:nth-child(1),tr:nth-child(2),tr:nth-child(3){
			color: #f00;
		}
		tr:nth-child(even){
			background: #eee;
		}
	}
}
input{
	margin: 30px 0;
	width: 100px;
	outline: none;
	transition: width 0.5s;
	-webkit-transition: width 0.5s;
  	-o-transition: width 0.5s;
}
input:focus{
	width: 200px;
}
.banner{
	position: relative;
	width: 300px;
	height: 150px;
	overflow: hidden;
	.warp{
		position: relative;
		left: 0;
		width: 300%;
		height: 100%;
		transition: left 0.5s; 
		-webkit-transition: left 0.5s;
		-o-transition: left 0.5s;	
		font-size: 0;
	}
	.r,.g,.b{
		display: inline-block;
		width: 300px;
		height: 100%;
	}
	.r{
		background: #f00;
	}
	#r:target~.warp{
		left: 0;
	}
	.g{
		background: #0f0;
	}
	#g:target~.warp{
		left: -100%;
	}
	.b{
		background: #00f;
	}
	#b:target~.warp{
		left: -200%;
	}
	ul{
		position: absolute;
		bottom: 0;
		right: 0;
		li{
			float: left;
			margin-left: 5px;
			width: 30px;
			text-align: center;
			line-height: 30px;
			background: rgba(255, 255, 255, .5);
			a{
				color: #fff;
			}
		}
	}
}