body{
    margin:0;
    padding:0;
}
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child{
    width: 150px;
    background-color: #ff98a4;
    color: #fff;
    font-family: cursive;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}
.child:nth-child(1){
    height: 120px;
}
.child:nth-child(2){
    height:100px;
}
.child:nth-child(3){
    height: 40px;
}
.child:nth-child(4){
    height: 200px;
    background-color: #65cca1;
}

@media screen and (max-width: 640px){
    .child:nth-child(1){
        order: 2;
    }
    .child:nth-child(2){
        order: 3;
    }
    .child:nth-child(3){
        order:4;
    }
    .child:nth-child(4){
        order:1;
    }
    .parent{
        flex-wrap:wrap;
        align-items: flex-start;
    }
}

