body{
    font-family: "Microsoft YaHei" , "sans-serif";
}
#row,#column{
    list-style: none;
    padding:0;
    margin:0;
}
#column{
    clear: left;
    float: left;
    display: inline-block;
}
#row li{
    float: left;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 38px;
}
#column li{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
}
#table{
    float: left;
    position: relative;
}
table{
    border-collapse: collapse;
    border:1px solid #000;
}
td{
    border:1px solid #b0b0b0;
    display: inline-block;
    padding:0;
    width: 38px;
    height: 38px;
}
ul {
    float: left;
}
form{
    clear: left;
}
#cmd{
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}
#lineNum{
    margin-top: 0;
    position: absolute;
    height: 202px;
    background-color: #333;
    width: 30px;
    overflow: hidden;
    color: #fff;
    text-align: center;
}
#lineNum span {
    display: block;
    height: 20px;;
}
.error{
    background-color: #f00;
    border-radius: 50%;
}
#command{
    border: 0;
    padding: 0 0 2px 3px;
    position: relative;
    left: 30px;
    display: inline-block;
    background-color: #000;
    color: #009300;
    font-weight: 500;
    font-family: "Microsoft YaHei" , "sans-serif";
    line-height: 20px;
    overflow-x: auto;
}
#square{
    width: 38px;
    height: 28px;
    background-color: #f00;
    border-top: 10px solid #00f;
    position:absolute;
    transform: rotate(0deg);
    -moz-transition: all 1s ease-in,top;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}



