body{
	margin: 0;
	padding: 10px;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11{
	box-sizing: border-box;
	margin: 10px;
    border: 1px solid #999;
    float: left;
    height: 50px;
    background: #eee;	
}
@media (min-width: 768px) {
	.col-7,.col-8{
	    width:-moz-calc(8.33333333% - 20px); 
	 	width:-webkit-calc(8.33333333% - 20px ); 
	 	width:calc(8.33333333% - 20px);	
	}
	.col-9,.col-10{
		width:-moz-calc(16.66666667% - 20px); 
	 	width:-webkit-calc(16.66666667% - 20px ); 
	 	width:calc(16.66666667% - 20px);
	}	
	.col-1,.col-2,.col-3{
	    width:-moz-calc(33.3333% - 20px); 
	 	width:-webkit-calc(33.3333% - 20px ); 
	 	width:calc(33.3333% - 20px);
	}
	.col-4,.col-6{
	    width:-moz-calc(25% - 20px); 
	 	width:-webkit-calc(25% - 20px ); 
	 	width:calc(25% - 20px);	
	}
	.col-11,.col-5{
	    width:-moz-calc(50% - 20px); 
	 	width:-webkit-calc(50% - 20px ); 
	 	width:calc(50% - 20px);
	}
}
@media (max-width: 768px) {
	.col-1,.col-2,.col-5{
		width:-moz-calc(50% - 20px); 
	 	width:-webkit-calc(50% - 20px ); 
	 	width:calc(50% - 20px);
	}
	.col-3{
	    width:-moz-calc(100% - 20px); 
	 	width:-webkit-calc(100% - 20px ); 
	 	width:calc(100% - 20px);			
	}
	.col-4,.col-6{
	    width:-moz-calc(25% - 20px); 
	 	width:-webkit-calc(25% - 20px ); 
	 	width:calc(25% - 20px);
	}
	.col-7,.col-8,.col-10,.col-11{
	    width:-moz-calc( 16.66666667% - 20px); 
	 	width:-webkit-calc( 16.66666667% - 20px ); 
	 	width:calc( 16.66666667% - 20px);	
	}
	.col-9{
  		width:-moz-calc( 66.66666667% - 20px); 
	 	width:-webkit-calc( 66.66666667% - 20px ); 
	 	width:calc( 66.66666667% - 20px);		 
	}

}
